<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rknightuk.twitter-archive-search</string>
	<key>connections</key>
	<dict>
		<key>F96099AE-6306-4666-B5B9-E1B1EF9B40A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8403D58D-5B57-4808-A035-C82EDBE49B8F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robb Knight</string>
	<key>description</key>
	<string>Search your local Twitter archive</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Twitter Archive Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8403D58D-5B57-4808-A035-C82EDBE49B8F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>twa</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching Tweets...</string>
				<key>script</key>
				<string>osascript ./script.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search your Tweet Archive</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F96099AE-6306-4666-B5B9-E1B1EF9B40A1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>- Request your Twitter here: https://help.twitter.com/en/managing-your-account/how-to-download-your-twitter-archive
- In the workflow variables, set the path to your `tweet.js` file (this is in the `data` of the download). For example, `/Users/alfreduser/Dropbox/Twitter Archive/data/tweet.js`</string>
	<key>uidata</key>
	<dict>
		<key>8403D58D-5B57-4808-A035-C82EDBE49B8F</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>F96099AE-6306-4666-B5B9-E1B1EF9B40A1</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Archive Path</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>archive_path</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>https://twitter.com/_/status/</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Use this if you want to open a different site, like a TweetBack install</string>
			<key>label</key>
			<string>Tweet URL</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>tweet_url</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>include_replies</key>
		<string>false</string>
		<key>include_retweets</key>
		<string>false</string>
	</dict>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>https://rknight.me</string>
</dict>
</plist>
