<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>archive_path</key>
	<string>~/Library/Mobile Documents/com~apple~CloudDocs/knightdrive/00-09 System/01 Exported Data/01.01 Twitter/@rknightuk/data/tweets.js</string>
	<key>tweet_url</key>
	<string>https://hellsite.rknight.me/</string>
</dict>
</plist>
