<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rknightuk.toggle-microphone</string>
	<key>connections</key>
	<dict>
		<key>1DD1972A-D5B8-4D3C-AA58-808DBD2580B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>068C99E3-0C4D-457D-9E04-587D8625B999</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC7F5426-3C58-4257-B5EB-1220081D3337</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DD1972A-D5B8-4D3C-AA58-808DBD2580B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robb Knight</string>
	<key>description</key>
	<string>Mute/Unmute microphone input</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Toggle Microphone</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "xbar://app.xbarapp.com/refreshAllPlugins"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>068C99E3-0C4D-457D-9E04-587D8625B999</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>79</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F18</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AC7F5426-3C58-4257-B5EB-1220081D3337</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  if input volume of (get volume settings) is 0 then
    set volume input volume 75
    "Unmuted"
  else
    set volume input volume 0
	"Muted"
  end
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>1DD1972A-D5B8-4D3C-AA58-808DBD2580B3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This sets the microphone input to either 0 (if it's not 0) or 75 if it is. Also shows in large type "Muted" or "Unmuted"</string>
	<key>uidata</key>
	<dict>
		<key>068C99E3-0C4D-457D-9E04-587D8625B999</key>
		<dict>
			<key>note</key>
			<string>Refresh xBar</string>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>1DD1972A-D5B8-4D3C-AA58-808DBD2580B3</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>AC7F5426-3C58-4257-B5EB-1220081D3337</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://rknight.me</string>
</dict>
</plist>
