<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rknightuk.calendar-events</string>
	<key>connections</key>
	<dict>
		<key>0CBE61F2-47B0-48BB-91AC-607299EDF293</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>573910B7-9B2A-47D4-9995-E9865C2E1FB1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D0AA46F2-DB17-4B5E-B138-11A08FFEA4AE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>942A19C6-E4B6-4526-B1AD-FF69AE98B916</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0D77FBE9-71D7-48A7-9C06-4CBFE669C3E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E6D399F-C3BD-4403-8BF4-1610D6FA348E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2350E20C-7C7D-44D3-BE39-72993A7531E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E44F651D-2889-4D6C-91ED-85ACA62DF9E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>27EDEC29-6A0A-42F2-B009-E683A5AF9B7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>287AB203-ED22-49C6-AA0C-7703132F9C3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>287AB203-ED22-49C6-AA0C-7703132F9C3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26F3660F-5847-4471-84FD-47B086C3A29B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C2B93A8B-A4F8-4C77-B2EF-27100FD76418</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6FAFF361-0605-4CC4-A79C-552554C7A538</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>ABB5F393-2466-40F6-AD41-FB1290F2D7A1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A6824D25-C10E-4621-86F6-1F5033208FE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5FC7B965-4983-4FF4-B092-907316C86752</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>451C482C-8BB4-49F5-B3C4-FF906B9DE9C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AFF93607-5E7D-4676-A702-4DCEDBED17BC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2E6D399F-C3BD-4403-8BF4-1610D6FA348E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD40C7FA-57A7-4A4F-B19F-87E4F8EC9104</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>36FC44C3-E1B1-4505-BA7C-B6E908EBF1BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D77FBE9-71D7-48A7-9C06-4CBFE669C3E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>68ED6BD4-4BFA-44F2-9F3B-6DCAF24F660F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2350E20C-7C7D-44D3-BE39-72993A7531E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4395CBD9-4F10-49E0-817F-B95A1EFD6CA6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD40C7FA-57A7-4A4F-B19F-87E4F8EC9104</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>451C482C-8BB4-49F5-B3C4-FF906B9DE9C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0A2B80C-0679-4D7B-8B12-3505CAE23DEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>573910B7-9B2A-47D4-9995-E9865C2E1FB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4395CBD9-4F10-49E0-817F-B95A1EFD6CA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B358F0A-EB88-4310-A3B4-807EE02CD575</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFA8C258-DD6F-4430-B439-514735A0426D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5FCF966A-4279-426D-8F87-D58D598CB180</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E4EB325-BC1E-42CE-B814-00978A0EB7C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6608D3A7-DAB1-47CB-A750-563F0B816B19</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD40C7FA-57A7-4A4F-B19F-87E4F8EC9104</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E4EB325-BC1E-42CE-B814-00978A0EB7C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6608D3A7-DAB1-47CB-A750-563F0B816B19</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D0AA46F2-DB17-4B5E-B138-11A08FFEA4AE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EEB90A3B-AF3F-4F19-B821-6F7C79231A4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6FAFF361-0605-4CC4-A79C-552554C7A538</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B19516A5-19E5-4A8D-8E4B-EB6AD13E1358</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C3597D5-BB17-493F-96F6-02DBF0CA63C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B358F0A-EB88-4310-A3B4-807EE02CD575</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>83D5D4A6-C51E-4CF6-B23A-2CB3C04732C1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0CBE61F2-47B0-48BB-91AC-607299EDF293</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>942A19C6-E4B6-4526-B1AD-FF69AE98B916</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD40C7FA-57A7-4A4F-B19F-87E4F8EC9104</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A6824D25-C10E-4621-86F6-1F5033208FE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8BD8EC4-84A7-4DB5-AC48-B0B3BCD04663</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B0A2B80C-0679-4D7B-8B12-3505CAE23DEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5FCF966A-4279-426D-8F87-D58D598CB180</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B19516A5-19E5-4A8D-8E4B-EB6AD13E1358</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C3597D5-BB17-493F-96F6-02DBF0CA63C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8117E21-33DD-439E-BACB-0B0B8F0FD1B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B19516A5-19E5-4A8D-8E4B-EB6AD13E1358</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA419909-9A90-428C-B1F5-FEB0F011CE38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27EDEC29-6A0A-42F2-B009-E683A5AF9B7B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D8BD8EC4-84A7-4DB5-AC48-B0B3BCD04663</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8117E21-33DD-439E-BACB-0B0B8F0FD1B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E44F651D-2889-4D6C-91ED-85ACA62DF9E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD40C7FA-57A7-4A4F-B19F-87E4F8EC9104</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EEB90A3B-AF3F-4F19-B821-6F7C79231A4A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36FC44C3-E1B1-4505-BA7C-B6E908EBF1BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFA8C258-DD6F-4430-B439-514735A0426D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0A2B80C-0679-4D7B-8B12-3505CAE23DEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robb Knight</string>
	<key>description</key>
	<string>View and create calendar events</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Calendar Events</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application id "com.runningwithcrayons.Alfred" to run trigger "com.rknightuk.reminders" in workflow "com.rknightuk.reminders"
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>26F3660F-5847-4471-84FD-47B086C3A29B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>com.rknightuk.calendar-events</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>CA419909-9A90-428C-B1F5-FEB0F011CE38</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Upcoming Reminders...</string>
				<key>script</key>
				<string>LIST_NAME=${listname}

osascript ./scripts/upcoming.js "$LIST_NAME"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>upcoming.sh</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Show Upcoming from List</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B19516A5-19E5-4A8D-8E4B-EB6AD13E1358</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^CREATE</string>
						<key>outputlabel</key>
						<string>Create Event for Calendar</string>
						<key>uid</key>
						<string>83D5D4A6-C51E-4CF6-B23A-2CB3C04732C1</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Open Calendar</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>8C3597D5-BB17-493F-96F6-02DBF0CA63C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

echo "x-fantastical3://show/calendar/$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>573910B7-9B2A-47D4-9995-E9865C2E1FB1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4395CBD9-4F10-49E0-817F-B95A1EFD6CA6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>:</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>5B358F0A-EB88-4310-A3B4-807EE02CD575</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>OVERRIDELIST</key>
					<string>{var:split2}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FFA8C258-DD6F-4430-B439-514735A0426D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6FAFF361-0605-4CC4-A79C-552554C7A538</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>upcoming</string>
						<key>outputlabel</key>
						<string>Upcoming</string>
						<key>uid</key>
						<string>ABB5F393-2466-40F6-AD41-FB1290F2D7A1</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>lists</string>
						<key>outputlabel</key>
						<string>Lists</string>
						<key>uid</key>
						<string>5FC7B965-4983-4FF4-B092-907316C86752</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>create</string>
						<key>outputlabel</key>
						<string>Create New</string>
						<key>uid</key>
						<string>AFF93607-5E7D-4676-A702-4DCEDBED17BC</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>reminders</string>
						<key>outputlabel</key>
						<string>Reminders</string>
						<key>uid</key>
						<string>C2B93A8B-A4F8-4C77-B2EF-27100FD76418</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>287AB203-ED22-49C6-AA0C-7703132F9C3C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Lists...</string>
				<key>script</key>
				<string>osascript ./scripts/lists.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Show All Lists</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D8BD8EC4-84A7-4DB5-AC48-B0B3BCD04663</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ce</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>osascript ./scripts/init.js $SHOWREMINDER</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>27EDEC29-6A0A-42F2-B009-E683A5AF9B7B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A6824D25-C10E-4621-86F6-1F5033208FE9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:usefantastical}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>Open in Fantastical</string>
						<key>uid</key>
						<string>D0AA46F2-DB17-4B5E-B138-11A08FFEA4AE</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Open in Calendar</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>0CBE61F2-47B0-48BB-91AC-607299EDF293</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
	var query = argv[0];
	var app = Application.currentApplication()
	app.includeStandardAdditions = true
	var Calendar = Application("Calendar")
	var date = new Date(query)
	Calendar.switchView({to: "day view"})
	Calendar.viewCalendar({at: date})
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>942A19C6-E4B6-4526-B1AD-FF69AE98B916</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>listname</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C8117E21-33DD-439E-BACB-0B0B8F0FD1B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist='https://raw.githubusercontent.com/rknightuk/alfred-workflows/main/workflows/calendar-events/src/info.plist'
readonly workflow_url='https://raw.githubusercontent.com/rknightuk/alfred-workflows/main/workflows/calendar-events/calendar-events.alfredworkflow'
readonly download_type='direct'
readonly frequency_check='2'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  local -r terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DD40C7FA-57A7-4A4F-B19F-87E4F8EC9104</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$PREVIOUSINPUT
OVERRIDE_LIST=${OVERRIDELIST}
LIST=${DEFAULTCAL}

if [ ! -z "$OVERRIDE_LIST" ];
then
	LIST=$OVERRIDE_LIST
fi

osascript -e "tell application \"Fantastical\" to parse sentence \"$query /$LIST\""</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6608D3A7-DAB1-47CB-A750-563F0B816B19</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Input has been copied to your clipboard</string>
				<key>title</key>
				<string>Unable to parse input</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2E6D399F-C3BD-4403-8BF4-1610D6FA348E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:PREVIOUSINPUT}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0D77FBE9-71D7-48A7-9C06-4CBFE669C3E5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>e.g. "Lunch tomorrow 12 until 2 @ Nandos"</string>
				<key>text</key>
				<string>Create Event</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B0A2B80C-0679-4D7B-8B12-3505CAE23DEC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:usefantastical}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>Open in Fantastical</string>
						<key>uid</key>
						<string>D0AA46F2-DB17-4B5E-B138-11A08FFEA4AE</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Create</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6E4EB325-BC1E-42CE-B814-00978A0EB7C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>451C482C-8BB4-49F5-B3C4-FF906B9DE9C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>PREVIOUSINPUT</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5FCF966A-4279-426D-8F87-D58D598CB180</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>INVALID</string>
						<key>outputlabel</key>
						<string>Invalid</string>
						<key>uid</key>
						<string>68ED6BD4-4BFA-44F2-9F3B-6DCAF24F660F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Create event</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>36FC44C3-E1B1-4505-BA7C-B6E908EBF1BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E44F651D-2889-4D6C-91ED-85ACA62DF9E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>TITLE=${neweventtitle}
START=${neweventstart}
END=${neweventend}
ALLDAY=${neweventallday}
LOCATION=${neweventlocation}
OVERRIDE_LIST=${OVERRIDELIST}
LIST=${DEFAULTCAL}

if [ ! -z "$OVERRIDE_LIST" ]
then
	LIST=$OVERRIDE_LIST
fi

bash ./scripts/create.sh "$START" "$END" "$TITLE" "$LIST" "$LOCATION"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2350E20C-7C7D-44D3-BE39-72993A7531E7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>// Modified from https://github.com/surrealroad/alfred-reminders

var require = function (path) {
  if (typeof app === 'undefined') {
    app = Application.currentApplication();
    app.includeStandardAdditions = true;
  }

  var handle = app.openForAccess(path);
  var contents = app.read(handle);
  app.closeAccess(path);

  var module = {exports: {}};
  var exports = module.exports;
  eval(contents);

  return module.exports;
};

ObjC.import('Foundation');
ObjC.import('stdlib');
var window = {}

function run(argv) {
	const query = argv[0]
		
	// https://github.com/dtinth/JXA-Cookbook/wiki/Importing-Scripts
	const sherlockPath = $.getenv('alfred_preferences') + "/workflows/" + $.getenv('alfred_workflow_uid') + "/sherlock.js"

	const Sherlock = require(sherlockPath);

	const data = Sherlock.parse(query);

	if (!data.startDate)
	{
			return 'INVALID'
	}

	const start = new Date(data.startDate)
	const startHours = start.getHours() &lt; 10 ? `0${start.getHours()}` : start.getHours();
	const startMinutes = start.getMinutes() &lt; 10 ? `0${start.getMinutes()}` : start.getMinutes();
	const startDate = start.getDate() &lt; 10 ? `0${start.getDate()}` : start.getDate();
  const startMonth = (start.getMonth() + 1) &lt; 10 ? `0${(start.getMonth() + 1)}` : start.getMonth() + 1;
  const startDateString = `${start.getFullYear()}-${startMonth}-${startDate} ${startHours}:${startMinutes}`

  const end = data.endDate ? new Date(data.endDate) : null
  let endDateString = null
  if (end)
  {
  		const endHours = end.getHours() &lt; 10 ? `0${end.getHours()}` : end.getHours();
			const endMinutes = end.getMinutes() &lt; 10 ? `0${end.getMinutes()}` : end.getMinutes();
			const endDate = end.getDate() &lt; 10 ? `0${end.getDate()}` : end.getDate();
		  const endMonth = (end.getMonth() + 1) &lt; 10 ? `0${(end.getMonth() + 1)}` : end.getMonth() + 1;
		  endDateString = `${end.getFullYear()}-${endMonth}-${endDate} ${endHours}:${endMinutes}`
  }

  let location = query.split('@')[1].trim()

  if (location)
  {
  	data.eventTitle = data.eventTitle.split('@')[0].trim()
  }

	// {"isAllDay":false,"eventTitle":"The party","startDate":"2021-07-22T14:00:00.000Z","endDate":"2021-07-22T16:00:00.000Z"}

	env = {"alfredworkflow":{
			"arg": '', 
			"variables": {
				"neweventstart": startDateString,
				"neweventend": endDateString,
				"neweventtitle": data.eventTitle,
				"neweventallday": data.isAllDay,
				"neweventlocation": location,
			}
		}
	};
	return JSON.stringify(env);
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EEB90A3B-AF3F-4F19-B821-6F7C79231A4A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Set your default calendar with DEFAULTCAL

The parsing engine for adding events is not as good as the one in Fantastical. If you want to create new events with Fantastical, set `usefantastical` to true.

Set SHOWREMINDER to false if you don't have the Calendar Events workflow, or don't want the option to show.</string>
	<key>uidata</key>
	<dict>
		<key>0CBE61F2-47B0-48BB-91AC-607299EDF293</key>
		<dict>
			<key>xpos</key>
			<integer>1400</integer>
			<key>ypos</key>
			<integer>455</integer>
		</dict>
		<key>0D77FBE9-71D7-48A7-9C06-4CBFE669C3E5</key>
		<dict>
			<key>xpos</key>
			<integer>1250</integer>
			<key>ypos</key>
			<integer>605</integer>
		</dict>
		<key>2350E20C-7C7D-44D3-BE39-72993A7531E7</key>
		<dict>
			<key>xpos</key>
			<integer>1250</integer>
			<key>ypos</key>
			<integer>745</integer>
		</dict>
		<key>26F3660F-5847-4471-84FD-47B086C3A29B</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>27EDEC29-6A0A-42F2-B009-E683A5AF9B7B</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>287AB203-ED22-49C6-AA0C-7703132F9C3C</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>2E6D399F-C3BD-4403-8BF4-1610D6FA348E</key>
		<dict>
			<key>xpos</key>
			<integer>1435</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>36FC44C3-E1B1-4505-BA7C-B6E908EBF1BD</key>
		<dict>
			<key>xpos</key>
			<integer>1090</integer>
			<key>ypos</key>
			<integer>705</integer>
		</dict>
		<key>4395CBD9-4F10-49E0-817F-B95A1EFD6CA6</key>
		<dict>
			<key>xpos</key>
			<integer>1805</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>451C482C-8BB4-49F5-B3C4-FF906B9DE9C8</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>695</integer>
		</dict>
		<key>573910B7-9B2A-47D4-9995-E9865C2E1FB1</key>
		<dict>
			<key>xpos</key>
			<integer>1615</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>5B358F0A-EB88-4310-A3B4-807EE02CD575</key>
		<dict>
			<key>xpos</key>
			<integer>1290</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>5FCF966A-4279-426D-8F87-D58D598CB180</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>6608D3A7-DAB1-47CB-A750-563F0B816B19</key>
		<dict>
			<key>note</key>
			<string>Open query in Fantastical</string>
			<key>xpos</key>
			<integer>930</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>6E4EB325-BC1E-42CE-B814-00978A0EB7C3</key>
		<dict>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>6FAFF361-0605-4CC4-A79C-552554C7A538</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>8C3597D5-BB17-493F-96F6-02DBF0CA63C3</key>
		<dict>
			<key>xpos</key>
			<integer>1025</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>942A19C6-E4B6-4526-B1AD-FF69AE98B916</key>
		<dict>
			<key>xpos</key>
			<integer>1610</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>A6824D25-C10E-4621-86F6-1F5033208FE9</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>B0A2B80C-0679-4D7B-8B12-3505CAE23DEC</key>
		<dict>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>665</integer>
		</dict>
		<key>B19516A5-19E5-4A8D-8E4B-EB6AD13E1358</key>
		<dict>
			<key>xpos</key>
			<integer>865</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>C8117E21-33DD-439E-BACB-0B0B8F0FD1B4</key>
		<dict>
			<key>xpos</key>
			<integer>825</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>CA419909-9A90-428C-B1F5-FEB0F011CE38</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>D8BD8EC4-84A7-4DB5-AC48-B0B3BCD04663</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>425</integer>
		</dict>
		<key>DD40C7FA-57A7-4A4F-B19F-87E4F8EC9104</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>2155</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>E44F651D-2889-4D6C-91ED-85ACA62DF9E7</key>
		<dict>
			<key>xpos</key>
			<integer>1435</integer>
			<key>ypos</key>
			<integer>745</integer>
		</dict>
		<key>EEB90A3B-AF3F-4F19-B821-6F7C79231A4A</key>
		<dict>
			<key>xpos</key>
			<integer>935</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>FFA8C258-DD6F-4430-B439-514735A0426D</key>
		<dict>
			<key>xpos</key>
			<integer>1375</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>DEFAULTCAL</key>
		<string>Robb - Home</string>
		<key>SHOWREMINDER</key>
		<string>true</string>
		<key>usefantastical</key>
		<string>true</string>
	</dict>
	<key>version</key>
	<string>1.3.0</string>
	<key>webaddress</key>
	<string>https://rknight.me</string>
</dict>
</plist>
