<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rknightuk.reminders</string>
	<key>connections</key>
	<dict>
		<key>2350E20C-7C7D-44D3-BE39-72993A7531E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E44F651D-2889-4D6C-91ED-85ACA62DF9E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26DCA63E-0CB1-4B0F-9CCE-186F1A9C659B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>287AB203-ED22-49C6-AA0C-7703132F9C3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>287AB203-ED22-49C6-AA0C-7703132F9C3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4C37E1F-BA5B-4BD1-8C3F-ACF3CB270B1D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>ABB5F393-2466-40F6-AD41-FB1290F2D7A1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>775BAFD5-F3E9-4C68-B23F-5AE44F3CBB14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5FC7B965-4983-4FF4-B092-907316C86752</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5E45C364-5DEE-4F65-BA0B-63BC1C299B0A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B99857F8-731E-4291-81F9-9B70B82E1C0F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>451C482C-8BB4-49F5-B3C4-FF906B9DE9C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AFF93607-5E7D-4676-A702-4DCEDBED17BC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>451C482C-8BB4-49F5-B3C4-FF906B9DE9C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0A2B80C-0679-4D7B-8B12-3505CAE23DEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B358F0A-EB88-4310-A3B4-807EE02CD575</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFA8C258-DD6F-4430-B439-514735A0426D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68AA95B8-D3B4-42F0-BF5E-FCB9B0A77B75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26DCA63E-0CB1-4B0F-9CCE-186F1A9C659B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>775BAFD5-F3E9-4C68-B23F-5AE44F3CBB14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8BD8EC4-84A7-4DB5-AC48-B0B3BCD04663</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7A83EC3B-1D1D-4E39-9FD0-61BD6380154B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DFDEE8B8-1121-460D-887D-99ED32078065</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D5BA402-7D92-41AF-852C-D9261B2D7E40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>989AA42C-CF0C-4917-BB0B-5282AA812765</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86802D07-3202-4D8D-9578-BBA7FF9EFE9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C283CA4B-F477-4518-8C78-9C103F389787</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>972611EA-72F6-4EAB-B5BC-946989526EDA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7D5BA402-7D92-41AF-852C-D9261B2D7E40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>989AA42C-CF0C-4917-BB0B-5282AA812765</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C283CA4B-F477-4518-8C78-9C103F389787</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B0A2B80C-0679-4D7B-8B12-3505CAE23DEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EEB90A3B-AF3F-4F19-B821-6F7C79231A4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B19516A5-19E5-4A8D-8E4B-EB6AD13E1358</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD66062B-8893-4E30-80D7-A3EBEE3C94B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C4C37E1F-BA5B-4BD1-8C3F-ACF3CB270B1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B19516A5-19E5-4A8D-8E4B-EB6AD13E1358</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8117E21-33DD-439E-BACB-0B0B8F0FD1B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B19516A5-19E5-4A8D-8E4B-EB6AD13E1358</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD66062B-8893-4E30-80D7-A3EBEE3C94B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A83EC3B-1D1D-4E39-9FD0-61BD6380154B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1851ABAE-2591-40D5-B3E1-73BD0C739FD0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7D5BA402-7D92-41AF-852C-D9261B2D7E40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5B358F0A-EB88-4310-A3B4-807EE02CD575</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7B7BA587-AEAA-4A84-816A-0DA1E2F83639</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D8BD8EC4-84A7-4DB5-AC48-B0B3BCD04663</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8117E21-33DD-439E-BACB-0B0B8F0FD1B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DFDEE8B8-1121-460D-887D-99ED32078065</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7B1F055-EA64-4E33-8D32-BEA9291CB231</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E44F651D-2889-4D6C-91ED-85ACA62DF9E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C283CA4B-F477-4518-8C78-9C103F389787</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EEB90A3B-AF3F-4F19-B821-6F7C79231A4A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2350E20C-7C7D-44D3-BE39-72993A7531E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F7B1F055-EA64-4E33-8D32-BEA9291CB231</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86802D07-3202-4D8D-9578-BBA7FF9EFE9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFA8C258-DD6F-4430-B439-514735A0426D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0A2B80C-0679-4D7B-8B12-3505CAE23DEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robb Knight</string>
	<key>description</key>
	<string>View and create reminders</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Reminders</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading any time reminders...</string>
				<key>script</key>
				<string>LIST_NAME=${listname}

osascript ./scripts/anytime.js "$LIST_NAME"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>upcoming.sh</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Show any time from List</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F7B1F055-EA64-4E33-8D32-BEA9291CB231</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>ANYTIME</key>
					<string>true</string>
					<key>listname</key>
					<string>{var:split2}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DFDEE8B8-1121-460D-887D-99ED32078065</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>:</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>7A83EC3B-1D1D-4E39-9FD0-61BD6380154B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>NOOP</string>
						<key>outputlabel</key>
						<string>Ignore</string>
						<key>uid</key>
						<string>972611EA-72F6-4EAB-B5BC-946989526EDA</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Complete</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>86802D07-3202-4D8D-9578-BBA7FF9EFE9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist='https://raw.githubusercontent.com/rknightuk/alfred-workflows/main/workflows/reminders/src/info.plist'
readonly workflow_url='https://raw.githubusercontent.com/rknightuk/alfred-workflows/main/workflows/reminders/reminders.alfredworkflow'
readonly download_type='direct'
readonly frequency_check='2'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  local -r terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C283CA4B-F477-4518-8C78-9C103F389787</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Upcoming Reminders...</string>
				<key>script</key>
				<string>LIST_NAME=${listname}

osascript ./scripts/upcoming.js "$LIST_NAME"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>upcoming.sh</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Show Upcoming from List</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B19516A5-19E5-4A8D-8E4B-EB6AD13E1358</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>com.rknightuk.reminders</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>68AA95B8-D3B4-42F0-BF5E-FCB9B0A77B75</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>INDEX=$1
LIST_NAME=${listname}
ANYTIME=${ANYTIME}

bash ./scripts/complete.sh "$LIST_NAME" $INDEX $ANYTIME</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7D5BA402-7D92-41AF-852C-D9261B2D7E40</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>989AA42C-CF0C-4917-BB0B-5282AA812765</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^CREATE:</string>
						<key>outputlabel</key>
						<string>Create for list</string>
						<key>uid</key>
						<string>7B7BA587-AEAA-4A84-816A-0DA1E2F83639</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^ANYTIME</string>
						<key>outputlabel</key>
						<string>View any time</string>
						<key>uid</key>
						<string>1851ABAE-2591-40D5-B3E1-73BD0C739FD0</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Mark Complete</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CD66062B-8893-4E30-80D7-A3EBEE3C94B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C4C37E1F-BA5B-4BD1-8C3F-ACF3CB270B1D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>upcoming</string>
						<key>outputlabel</key>
						<string>Upcoming</string>
						<key>uid</key>
						<string>ABB5F393-2466-40F6-AD41-FB1290F2D7A1</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>lists</string>
						<key>outputlabel</key>
						<string>Lists</string>
						<key>uid</key>
						<string>5FC7B965-4983-4FF4-B092-907316C86752</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>create</string>
						<key>outputlabel</key>
						<string>Create New</string>
						<key>uid</key>
						<string>AFF93607-5E7D-4676-A702-4DCEDBED17BC</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>calendar</string>
						<key>outputlabel</key>
						<string>Calendar Events</string>
						<key>uid</key>
						<string>B99857F8-731E-4291-81F9-9B70B82E1C0F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>287AB203-ED22-49C6-AA0C-7703132F9C3C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>rmind</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>osascript ./scripts/init.js $SHOWCALENDAR</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>26DCA63E-0CB1-4B0F-9CCE-186F1A9C659B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Lists...</string>
				<key>script</key>
				<string>osascript ./scripts/lists.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Show All Lists</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D8BD8EC4-84A7-4DB5-AC48-B0B3BCD04663</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>775BAFD5-F3E9-4C68-B23F-5AE44F3CBB14</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>listname</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C8117E21-33DD-439E-BACB-0B0B8F0FD1B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>:</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>5B358F0A-EB88-4310-A3B4-807EE02CD575</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>OVERRIDELIST</key>
					<string>{var:split2}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FFA8C258-DD6F-4430-B439-514735A0426D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application id "com.runningwithcrayons.Alfred" to run trigger "com.rknightuk.calendar-events" in workflow "com.rknightuk.calendar-events"
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>5E45C364-5DEE-4F65-BA0B-63BC1C299B0A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>// Modified from https://github.com/surrealroad/alfred-reminders

ObjC.import('Foundation');
ObjC.import('stdlib');
var window = {} // required for chrono.js to function properly, see https://github.com/wanasit/chrono/issues/34

function run(argv) {
	var query = argv[0],
		results = {},
		jsonResult = {};
		
	if(! window.chrono) { 
		//https://github.com/dtinth/JXA-Cookbook/wiki/Importing-Scripts

		//http://www.alfredforum.com/topic/9070-how-to-workflowenvironment-variables/
		//https://www.alfredapp.com/help/workflows/script-environment-variables/
		var chronoPath = $.getenv('alfred_preferences') + "/workflows/" + $.getenv('alfred_workflow_uid') + "/chrono.min.js"

		var fm = $.NSFileManager.defaultManager;
		var contents = fm.contentsAtPath(chronoPath); // NSData
		contents = $.NSString.alloc.initWithDataEncoding(contents, $.NSUTF8StringEncoding);

		eval(ObjC.unwrap(contents));
	}

	date = window.chrono.parseDate(query)
	text = window.chrono.parse(query)[0] ? window.chrono.parse(query)[0].text : null

	env = {"alfredworkflow":{
			"arg": '', 
			"variables": {
				"date": date,
				"datetext": text,
				"remindertext": query.replace(' ' + text, ''),
			}
		}
	};
	return JSON.stringify(env);
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EEB90A3B-AF3F-4F19-B821-6F7C79231A4A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E44F651D-2889-4D6C-91ED-85ACA62DF9E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>DATE=${date}
REMINDER_TEXT=${remindertext}
LIST=${DEFAULTLIST}
OVERRIDE_LIST=${OVERRIDELIST}

if [ ! -z "$OVERRIDE_LIST" ]
then
	LIST=$OVERRIDE_LIST
fi

bash ./scripts/create.sh "$DATE" "$REMINDER_TEXT" "$LIST"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2350E20C-7C7D-44D3-BE39-72993A7531E7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>e.g. "Lunch with John tomorrow 11:30am"</string>
				<key>text</key>
				<string>Create Reminder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B0A2B80C-0679-4D7B-8B12-3505CAE23DEC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>451C482C-8BB4-49F5-B3C4-FF906B9DE9C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Set SHOWCALENDAR to false if you don't have the Calendar Events workflow, or don't want the option to show.</string>
	<key>uidata</key>
	<dict>
		<key>2350E20C-7C7D-44D3-BE39-72993A7531E7</key>
		<dict>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
		<key>26DCA63E-0CB1-4B0F-9CCE-186F1A9C659B</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>287AB203-ED22-49C6-AA0C-7703132F9C3C</key>
		<dict>
			<key>xpos</key>
			<integer>385</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>451C482C-8BB4-49F5-B3C4-FF906B9DE9C8</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>795</integer>
		</dict>
		<key>5B358F0A-EB88-4310-A3B4-807EE02CD575</key>
		<dict>
			<key>xpos</key>
			<integer>980</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>5E45C364-5DEE-4F65-BA0B-63BC1C299B0A</key>
		<dict>
			<key>xpos</key>
			<integer>105</integer>
			<key>ypos</key>
			<integer>605</integer>
		</dict>
		<key>68AA95B8-D3B4-42F0-BF5E-FCB9B0A77B75</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>775BAFD5-F3E9-4C68-B23F-5AE44F3CBB14</key>
		<dict>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>7A83EC3B-1D1D-4E39-9FD0-61BD6380154B</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>7D5BA402-7D92-41AF-852C-D9261B2D7E40</key>
		<dict>
			<key>note</key>
			<string>Complete Reminder</string>
			<key>xpos</key>
			<integer>1225</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>86802D07-3202-4D8D-9578-BBA7FF9EFE9B</key>
		<dict>
			<key>xpos</key>
			<integer>1225</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>989AA42C-CF0C-4917-BB0B-5282AA812765</key>
		<dict>
			<key>xpos</key>
			<integer>1400</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>B0A2B80C-0679-4D7B-8B12-3505CAE23DEC</key>
		<dict>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
		<key>B19516A5-19E5-4A8D-8E4B-EB6AD13E1358</key>
		<dict>
			<key>xpos</key>
			<integer>840</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>C283CA4B-F477-4518-8C78-9C103F389787</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>1825</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>C4C37E1F-BA5B-4BD1-8C3F-ACF3CB270B1D</key>
		<dict>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>C8117E21-33DD-439E-BACB-0B0B8F0FD1B4</key>
		<dict>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>CD66062B-8893-4E30-80D7-A3EBEE3C94B0</key>
		<dict>
			<key>xpos</key>
			<integer>1010</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>D8BD8EC4-84A7-4DB5-AC48-B0B3BCD04663</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>DFDEE8B8-1121-460D-887D-99ED32078065</key>
		<dict>
			<key>xpos</key>
			<integer>875</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>E44F651D-2889-4D6C-91ED-85ACA62DF9E7</key>
		<dict>
			<key>xpos</key>
			<integer>1055</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
		<key>EEB90A3B-AF3F-4F19-B821-6F7C79231A4A</key>
		<dict>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
		<key>F7B1F055-EA64-4E33-8D32-BEA9291CB231</key>
		<dict>
			<key>xpos</key>
			<integer>1030</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>FFA8C258-DD6F-4430-B439-514735A0426D</key>
		<dict>
			<key>xpos</key>
			<integer>1065</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>DEFAULTLIST</key>
		<string>To Do</string>
		<key>SHOWCALENDAR</key>
		<string>true</string>
	</dict>
	<key>version</key>
	<string>1.3.1</string>
	<key>webaddress</key>
	<string>https://rknight.me</string>
</dict>
</plist>
