<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rknightuk.networktools</string>
	<key>connections</key>
	<dict>
		<key>659B5DD2-CBF8-4AF9-87FC-7189875B7C6F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26CE4FED-A825-4064-BE07-491175949437</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D73DEB0-FB95-42E9-ACCC-CE3D0FF147C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DCCA74E6-638D-49BA-B89A-DA8301BCAEC6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B205A3A6-4CC9-45D2-9C4A-FA933B1EED9A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>659B5DD2-CBF8-4AF9-87FC-7189875B7C6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DCCA74E6-638D-49BA-B89A-DA8301BCAEC6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31DDEBFA-24CA-485E-92FF-90E209B1AD60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robb Knight</string>
	<key>description</key>
	<string>Network tools</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Network Tools</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ping</string>
				<key>subtext</key>
				<string>Leave blank for google.com</string>
				<key>text</key>
				<string>Ping a domain</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7D73DEB0-FB95-42E9-ACCC-CE3D0FF147C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Ping Test</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>31DDEBFA-24CA-485E-92FF-90E209B1AD60</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

if [ -z "$query" ]; then
    query='google.com'
fi

ping -c 1 $query &amp;&gt; /dev/null &amp;&amp; echo Success || echo Failure</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DCCA74E6-638D-49BA-B89A-DA8301BCAEC6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>DNS Flushed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>26CE4FED-A825-4064-BE07-491175949437</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>dscacheutil -flushcache</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>659B5DD2-CBF8-4AF9-87FC-7189875B7C6F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>flush</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Flush DNS</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B205A3A6-4CC9-45D2-9C4A-FA933B1EED9A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>26CE4FED-A825-4064-BE07-491175949437</key>
		<dict>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>31DDEBFA-24CA-485E-92FF-90E209B1AD60</key>
		<dict>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>659B5DD2-CBF8-4AF9-87FC-7189875B7C6F</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>7D73DEB0-FB95-42E9-ACCC-CE3D0FF147C2</key>
		<dict>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>B205A3A6-4CC9-45D2-9C4A-FA933B1EED9A</key>
		<dict>
			<key>xpos</key>
			<real>95</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>DCCA74E6-638D-49BA-B89A-DA8301BCAEC6</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://rknight.me</string>
</dict>
</plist>
