<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rknightuk.gifsearch</string>
	<key>connections</key>
	<dict>
		<key>91618FBE-4F4A-462C-A1FE-E88AA69269AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D77F6005-5CA1-4717-A27D-4DD5A6539F33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9DE4297-9013-4388-86D8-C1EB84944852</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91618FBE-4F4A-462C-A1FE-E88AA69269AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D77F6005-5CA1-4717-A27D-4DD5A6539F33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E603DA58-33AE-4CB6-80A0-C3671DC7DCFF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robb Knight</string>
	<key>description</key>
	<string>Search a folder of gifs and copy them to the clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Gif Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
    set thePath to q
	set the clipboard to POSIX file thePath
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>E603DA58-33AE-4CB6-80A0-C3671DC7DCFF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gif</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search Gifs</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B9DE4297-9013-4388-86D8-C1EB84944852</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>columncount</key>
				<integer>4</integer>
				<key>filterable</key>
				<true/>
				<key>imageaspect</key>
				<integer>0</integer>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string></string>
				<key>showsubtitles</key>
				<true/>
				<key>showtitles</key>
				<true/>
				<key>subtitlesinfooter</key>
				<false/>
				<key>titlesinfooter</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.grid</string>
			<key>uid</key>
			<string>D77F6005-5CA1-4717-A27D-4DD5A6539F33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript ./script.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>91618FBE-4F4A-462C-A1FE-E88AA69269AC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Search your personal gif collection. 

Set the path to your gifs in the configuration (e.g. /Users/jim/mygifs) then use the keyword `gif` to start searching. 

Enter to copy to clipboard.</string>
	<key>uidata</key>
	<dict>
		<key>91618FBE-4F4A-462C-A1FE-E88AA69269AC</key>
		<dict>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>B9DE4297-9013-4388-86D8-C1EB84944852</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>D77F6005-5CA1-4717-A27D-4DD5A6539F33</key>
		<dict>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>E603DA58-33AE-4CB6-80A0-C3671DC7DCFF</key>
		<dict>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The folder on your computer where you store your gif files</string>
			<key>label</key>
			<string>Gif Folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>gif_path</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string>https://rknight.me</string>
</dict>
</plist>
