<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rknightuk.gifsearch</string>
	<key>connections</key>
	<dict>
		<key>67A8E3E8-DF70-44BD-A073-59E41D225B1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AFA7D92B-1972-49A3-BB56-BE5C7925F935</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robb Knight</string>
	<key>description</key>
	<string>Search a folder of gifs and copy them to the clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Gif Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gif</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>osascript ./script.js $argv</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Gifs</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>67A8E3E8-DF70-44BD-A073-59E41D225B1D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
    set thePath to q
	set the clipboard to POSIX file thePath
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>AFA7D92B-1972-49A3-BB56-BE5C7925F935</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Search your personal gif collection. 

Set the path to your gifs in the configuration (e.g. /Users/jim/mygifs) then use the keyword `gif` to start searching. 

Enter to copy to clipboard.</string>
	<key>uidata</key>
	<dict>
		<key>67A8E3E8-DF70-44BD-A073-59E41D225B1D</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>AFA7D92B-1972-49A3-BB56-BE5C7925F935</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The folder on your computer where you store your gif files</string>
			<key>label</key>
			<string>Gif Folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>gif_path</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://rknight.me</string>
</dict>
</plist>
