<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gif_path</key>
	<string>~/Library/Mobile Documents/com~apple~CloudDocs/knightdrive/50-59 Media/54 Memes/54.02 Gifs</string>
</dict>
</plist>
