<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rknightuk.common-folders</string>
	<key>connections</key>
	<dict>
		<key>51ECED60-B6BE-4DDD-9B31-677CCBA98FA1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96091756-72E1-4DF5-8076-AB92496E199E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58DC76C9-E0CD-49E8-BC96-2D4DE501FD9E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56B56C7E-EA50-4E8C-BA32-0093B428FD70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>707C5CEE-A3B7-4DD9-A93C-A73E1D2884A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2D07D90-3E32-451A-921E-EDDF22A25A32</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C69E817C-F354-48B2-8D52-7D9AD6A99969</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5EEEB93B-E5A3-4F87-843C-5D3DAFF34121</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E5F0A97A-D764-40F7-96D3-A972DAA776DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86D8A1B1-2C0A-485A-9FEB-0DA602D26462</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robb Knight</string>
	<key>description</key>
	<string>Open commonly used folders</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Common Folders</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>work</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Work Downloads</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>707C5CEE-A3B7-4DD9-A93C-A73E1D2884A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open ~/Work</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D2D07D90-3E32-451A-921E-EDDF22A25A32</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open ~/Downloads</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>96091756-72E1-4DF5-8076-AB92496E199E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>downloads</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Downloads</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>51ECED60-B6BE-4DDD-9B31-677CCBA98FA1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open ~/Sites</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>86D8A1B1-2C0A-485A-9FEB-0DA602D26462</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sites</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Sites</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E5F0A97A-D764-40F7-96D3-A972DAA776DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open ~/Desktop</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5EEEB93B-E5A3-4F87-843C-5D3DAFF34121</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>desktop</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Desktop</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C69E817C-F354-48B2-8D52-7D9AD6A99969</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open ~/Dropbox</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>56B56C7E-EA50-4E8C-BA32-0093B428FD70</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dropbox</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Dropbox</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>58DC76C9-E0CD-49E8-BC96-2D4DE501FD9E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Open common folders I need to get to</string>
	<key>uidata</key>
	<dict>
		<key>51ECED60-B6BE-4DDD-9B31-677CCBA98FA1</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>56B56C7E-EA50-4E8C-BA32-0093B428FD70</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>58DC76C9-E0CD-49E8-BC96-2D4DE501FD9E</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>5EEEB93B-E5A3-4F87-843C-5D3DAFF34121</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>707C5CEE-A3B7-4DD9-A93C-A73E1D2884A8</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>86D8A1B1-2C0A-485A-9FEB-0DA602D26462</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>96091756-72E1-4DF5-8076-AB92496E199E</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>C69E817C-F354-48B2-8D52-7D9AD6A99969</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>D2D07D90-3E32-451A-921E-EDDF22A25A32</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>E5F0A97A-D764-40F7-96D3-A972DAA776DB</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://rknight.me</string>
</dict>
</plist>
