<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rknightuk.safari-tabs-markdown</string>
	<key>connections</key>
	<dict>
		<key>74AAECF5-7418-4CAE-ACB7-70BEDD2C8593</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9849464D-4B9B-4CA5-9532-A272D3CCE8A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D577A419-65AC-44C5-AEF2-5E2C8C39F6F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74AAECF5-7418-4CAE-ACB7-70BEDD2C8593</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robb Knight</string>
	<key>description</key>
	<string>Copy all current Safari tabs to Markdown</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Get Safari Tabs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sf</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Get Safari Tabs as Markdown</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D577A419-65AC-44C5-AEF2-5E2C8C39F6F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9849464D-4B9B-4CA5-9532-A272D3CCE8A2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript ./script.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>74AAECF5-7418-4CAE-ACB7-70BEDD2C8593</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>74AAECF5-7418-4CAE-ACB7-70BEDD2C8593</key>
		<dict>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>9849464D-4B9B-4CA5-9532-A272D3CCE8A2</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>D577A419-65AC-44C5-AEF2-5E2C8C39F6F4</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://rknight.me</string>
</dict>
</plist>
