<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rknightuk.toggle-utils</string>
	<key>connections</key>
	<dict>
		<key>06A53AEB-3B89-4F42-BCA2-B0D99419DD16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D0F2065-664F-4600-B61A-02857964069E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0DA2C0CE-2874-4F68-A5AE-7038C91D00D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B8445FD-4D99-4020-A669-F37E3913CD18</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>19992505-582B-416B-B9A3-32E30F28821C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D877DF82-70B2-4643-A48B-5A98A1EE04AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>314B5C5B-871A-4018-8F3D-D9081B5FD9F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F67B83B7-4FF4-463D-9528-AA64D28C7896</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>334E4A4D-6CE2-43E3-820A-C5AC015B0A38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>466B0489-4584-4209-A777-E251BB20D806</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>514820BB-B250-4780-993C-0152BE821698</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB2DFE67-8776-4C94-AE02-24237FD0B34A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C3789E2-1E05-47DA-8A3C-C8624B21DE54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D877DF82-70B2-4643-A48B-5A98A1EE04AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60065BFC-74ED-44DE-AEB4-1BDE2F513B79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>334E4A4D-6CE2-43E3-820A-C5AC015B0A38</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>61E252E1-D737-47E7-87B7-0E5E6C88B677</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5DBFCB7E-251B-4341-AA51-4C20F38EDB77</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63B9EB18-EDA6-42B2-B7CB-E0D8B23996E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA341E1F-0AE6-4665-A384-294129B129D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>06E2AF69-9FB9-45EE-8F5F-B9394A27C147</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C4183FB-5734-4711-A748-96DA52A51D89</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5DBFCB7E-251B-4341-AA51-4C20F38EDB77</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81E03FE7-DB83-465E-8030-5DD85376A259</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF570616-2CE9-4FCD-91A1-686A289AB908</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F1FC4F7-0C61-4212-8982-55185314A998</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF570616-2CE9-4FCD-91A1-686A289AB908</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B458C065-E6E0-470F-B024-A569628EE383</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D0F2065-664F-4600-B61A-02857964069E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4D45DA8-DEAF-4959-8CDB-9BF2B2EB1876</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F67B83B7-4FF4-463D-9528-AA64D28C7896</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BA245AC2-5C0A-4320-8CDC-B0D07712EEB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B8445FD-4D99-4020-A669-F37E3913CD18</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF570616-2CE9-4FCD-91A1-686A289AB908</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>514820BB-B250-4780-993C-0152BE821698</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB2DFE67-8776-4C94-AE02-24237FD0B34A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2FDD38B-3881-4FF4-9BAA-AF89D9D8F926</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2FDD38B-3881-4FF4-9BAA-AF89D9D8F926</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD2416CE-5ECF-47E2-B9C8-394794D31879</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD2416CE-5ECF-47E2-B9C8-394794D31879</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63B9EB18-EDA6-42B2-B7CB-E0D8B23996E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E637F03F-6CD3-454B-9964-CA85933F3F99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>334E4A4D-6CE2-43E3-820A-C5AC015B0A38</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robb Knight</string>
	<key>description</key>
	<string>Toggle Wifi, Bluetooth, Music, and More</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Toggle Utils</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>wifi toggle</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle Wifi</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>19992505-582B-416B-B9A3-32E30F28821C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>toggle darkmode</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle Dark Mode</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B458C065-E6E0-470F-B024-A569628EE383</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bluetooth toggle</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle Bluetooth</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B4D45DA8-DEAF-4959-8CDB-9BF2B2EB1876</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "System Events"
		tell appearance preferences to set dark mode to not dark mode
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>9D0F2065-664F-4600-B61A-02857964069E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	set network to (do shell script "networksetup -listallhardwareports | grep -A 1 Wi-Fi | tail -n 1 | cut -b 9-12")
	if (offset of "On" in (do shell script "networksetup -getairportpower " &amp; network &amp; " ")) &gt; 0 then
		do shell script "networksetup -setairportpower " &amp; network &amp; " off"
	else
		do shell script "networksetup -setairportpower " &amp; network &amp; " on"
	end if
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>D877DF82-70B2-4643-A48B-5A98A1EE04AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>bash ./toggle-bluetooth.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F67B83B7-4FF4-463D-9528-AA64D28C7896</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>toggle wifi</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle Wifi</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5C3789E2-1E05-47DA-8A3C-C8624B21DE54</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>darkmode toggle</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle Dark Mode</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>06A53AEB-3B89-4F42-BCA2-B0D99419DD16</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>toggle bluetooth</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle Bluetooth</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>314B5C5B-871A-4018-8F3D-D9081B5FD9F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>toggle audio input</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle Audio Input</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>81E03FE7-DB83-465E-8030-5DD85376A259</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Switched to{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DA341E1F-0AE6-4665-A384-294129B129D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>bash ./toggle-audio-input.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BF570616-2CE9-4FCD-91A1-686A289AB908</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^could not find</string>
						<key>outputlabel</key>
						<string>Not Connected</string>
						<key>uid</key>
						<string>D0FE4483-8A5D-45CB-8CB3-AB5B0F3D4002</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Connected</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>514820BB-B250-4780-993C-0152BE821698</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>DELL U2419H</string>
				<key>replacestring</key>
				<string>Monitor</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>63B9EB18-EDA6-42B2-B7CB-E0D8B23996E2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>MacBook Pro Speakers</string>
				<key>replacestring</key>
				<string>Vision</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>DD2416CE-5ECF-47E2-B9C8-394794D31879</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>"</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>D2FDD38B-3881-4FF4-9BAA-AF89D9D8F926</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>output audio device set to</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>CB2DFE67-8776-4C94-AE02-24237FD0B34A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>80</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F19</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8F1FC4F7-0C61-4212-8982-55185314A998</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Funk</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>06E2AF69-9FB9-45EE-8F5F-B9394A27C147</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>toggle microphone</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle Microphone Mute</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E637F03F-6CD3-454B-9964-CA85933F3F99</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>night shift toggle</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle Night Shift</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BA245AC2-5C0A-4320-8CDC-B0D07712EEB8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/nightlight toggle</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8B8445FD-4D99-4020-A669-F37E3913CD18</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)  
  if input volume of (get volume settings) is 0 then
    set volume input volume 75
  else
    set volume input volume 0
  end if
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>334E4A4D-6CE2-43E3-820A-C5AC015B0A38</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "xbar://app.xbarapp.com/refreshPlugin?path=microphone-status.15m.sh"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>466B0489-4584-4209-A777-E251BB20D806</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>toggle night shift</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle Night Shift</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0DA2C0CE-2874-4F68-A5AE-7038C91D00D9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>79</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F18</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>60065BFC-74ED-44DE-AEB4-1BDE2F513B79</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>toggle music</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle Music</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6C4183FB-5734-4711-A748-96DA52A51D89</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.itunescommand</string>
			<key>uid</key>
			<string>5DBFCB7E-251B-4341-AA51-4C20F38EDB77</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>105</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F13</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>61E252E1-D737-47E7-87B7-0E5E6C88B677</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Requires https://github.com/toy/blueutil for Bluetooth toggling
Requires https://github.com/deweller/switchaudio-osx for audio input switching
Requires https://github.com/smudge/nightlight for Night Shift</string>
	<key>uidata</key>
	<dict>
		<key>06A53AEB-3B89-4F42-BCA2-B0D99419DD16</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>06E2AF69-9FB9-45EE-8F5F-B9394A27C147</key>
		<dict>
			<key>xpos</key>
			<integer>865</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>0DA2C0CE-2874-4F68-A5AE-7038C91D00D9</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>19992505-582B-416B-B9A3-32E30F28821C</key>
		<dict>
			<key>xpos</key>
			<integer>115</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>314B5C5B-871A-4018-8F3D-D9081B5FD9F8</key>
		<dict>
			<key>xpos</key>
			<integer>795</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>334E4A4D-6CE2-43E3-820A-C5AC015B0A38</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>595</integer>
		</dict>
		<key>466B0489-4584-4209-A777-E251BB20D806</key>
		<dict>
			<key>note</key>
			<string>Refresh xBar</string>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>595</integer>
		</dict>
		<key>514820BB-B250-4780-993C-0152BE821698</key>
		<dict>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>5C3789E2-1E05-47DA-8A3C-C8624B21DE54</key>
		<dict>
			<key>xpos</key>
			<integer>115</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>5DBFCB7E-251B-4341-AA51-4C20F38EDB77</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>835</integer>
		</dict>
		<key>60065BFC-74ED-44DE-AEB4-1BDE2F513B79</key>
		<dict>
			<key>xpos</key>
			<integer>115</integer>
			<key>ypos</key>
			<integer>645</integer>
		</dict>
		<key>61E252E1-D737-47E7-87B7-0E5E6C88B677</key>
		<dict>
			<key>xpos</key>
			<integer>115</integer>
			<key>ypos</key>
			<integer>890</integer>
		</dict>
		<key>63B9EB18-EDA6-42B2-B7CB-E0D8B23996E2</key>
		<dict>
			<key>xpos</key>
			<integer>785</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>6C4183FB-5734-4711-A748-96DA52A51D89</key>
		<dict>
			<key>xpos</key>
			<integer>115</integer>
			<key>ypos</key>
			<integer>775</integer>
		</dict>
		<key>81E03FE7-DB83-465E-8030-5DD85376A259</key>
		<dict>
			<key>xpos</key>
			<integer>115</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>8B8445FD-4D99-4020-A669-F37E3913CD18</key>
		<dict>
			<key>xpos</key>
			<integer>795</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>8F1FC4F7-0C61-4212-8982-55185314A998</key>
		<dict>
			<key>xpos</key>
			<integer>115</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>9D0F2065-664F-4600-B61A-02857964069E</key>
		<dict>
			<key>xpos</key>
			<integer>625</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>B458C065-E6E0-470F-B024-A569628EE383</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>B4D45DA8-DEAF-4959-8CDB-9BF2B2EB1876</key>
		<dict>
			<key>xpos</key>
			<integer>795</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>BA245AC2-5C0A-4320-8CDC-B0D07712EEB8</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>BF570616-2CE9-4FCD-91A1-686A289AB908</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>CB2DFE67-8776-4C94-AE02-24237FD0B34A</key>
		<dict>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>D2FDD38B-3881-4FF4-9BAA-AF89D9D8F926</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>D877DF82-70B2-4643-A48B-5A98A1EE04AF</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>DA341E1F-0AE6-4665-A384-294129B129D8</key>
		<dict>
			<key>xpos</key>
			<integer>865</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>DD2416CE-5ECF-47E2-B9C8-394794D31879</key>
		<dict>
			<key>xpos</key>
			<integer>715</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>E637F03F-6CD3-454B-9964-CA85933F3F99</key>
		<dict>
			<key>xpos</key>
			<integer>115</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>F67B83B7-4FF4-463D-9528-AA64D28C7896</key>
		<dict>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://rknight.me</string>
</dict>
</plist>
