<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rknightuk.microposter</string>
	<key>connections</key>
	<dict>
		<key>3C38BBAC-74D5-4DB1-A087-F9F199534715</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F50F7C95-DD63-4B6C-9471-4465C06C27A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2D6513CD-9C84-414B-9C18-FDD0303C0FE4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>430887E5-EF68-4276-947F-741E9085A209</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6CCB3BDB-76CC-459C-A21E-8D00ACCDB8CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5E95D76-F253-48B8-BE27-D0F2A72DDDF5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5E95D76-F253-48B8-BE27-D0F2A72DDDF5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C38BBAC-74D5-4DB1-A087-F9F199534715</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robb Knight</string>
	<key>description</key>
	<string>Post to Micro.blog</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>MicroPoster</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>There was an error posting to Micro.blog, please try again</string>
				<key>title</key>
				<string>Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F50F7C95-DD63-4B6C-9471-4465C06C27A2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>mb</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Post to Micro.blog</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6CCB3BDB-76CC-459C-A21E-8D00ACCDB8CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript ./script.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A5E95D76-F253-48B8-BE27-D0F2A72DDDF5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>6</integer>
						<key>matchstring</key>
						<string>error</string>
						<key>outputlabel</key>
						<string>Error</string>
						<key>uid</key>
						<string>2D6513CD-9C84-414B-9C18-FDD0303C0FE4</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Success</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>3C38BBAC-74D5-4DB1-A087-F9F199534715</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>430887E5-EF68-4276-947F-741E9085A209</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3C38BBAC-74D5-4DB1-A087-F9F199534715</key>
		<dict>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>430887E5-EF68-4276-947F-741E9085A209</key>
		<dict>
			<key>xpos</key>
			<real>710</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>6CCB3BDB-76CC-459C-A21E-8D00ACCDB8CF</key>
		<dict>
			<key>xpos</key>
			<real>170</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>A5E95D76-F253-48B8-BE27-D0F2A72DDDF5</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>F50F7C95-DD63-4B6C-9471-4465C06C27A2</key>
		<dict>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Micro.blog API Key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>api_key</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>e.g. https://user.micro.blog</string>
			<key>label</key>
			<string>Your Micro.blog site to post to</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>site</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://rknight.me</string>
</dict>
</plist>
