<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>api_key</key>
	<string>5DD9EC2D2D661642BB18</string>
	<key>site</key>
	<string>https://rknightuk.micro.blog</string>
</dict>
</plist>
