<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rknightuk.toggle-tunnelblick-vpn</string>
	<key>connections</key>
	<dict>
		<key>15C197CC-CE78-4900-90B4-6C571A97AB2A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CF84829-128B-4A20-A564-8114C67FAD38</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1A6485F9-A394-427A-9FEF-ED5C3CFD9A75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F0C4A39-EA77-41F6-81BD-77C7E448FFF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>689655F5-1BA4-4E24-BBAD-71A42389D7C4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DDFCBEA3-2828-4E6C-90EC-E3783EB85384</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F0C4A39-EA77-41F6-81BD-77C7E448FFF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D65F74E8-59B5-4BA6-BDF0-590992684F3E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B987AA6B-A26D-4013-B334-16E59618C844</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A6485F9-A394-427A-9FEF-ED5C3CFD9A75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D65F74E8-59B5-4BA6-BDF0-590992684F3E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>15C197CC-CE78-4900-90B4-6C571A97AB2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DDFCBEA3-2828-4E6C-90EC-E3783EB85384</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Robb Knight</string>
	<key>description</key>
	<string>Toggle a single Tunnelblick VPN connection</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Toggle Tunnelblick VPN</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript ./setvpn.js $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>15C197CC-CE78-4900-90B4-6C571A97AB2A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Set VPN Name</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D65F74E8-59B5-4BA6-BDF0-590992684F3E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8F0C4A39-EA77-41F6-81BD-77C7E448FFF8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>vpn</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>9CF84829-128B-4A20-A564-8114C67FAD38</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>vpn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Checking Status...</string>
				<key>script</key>
				<string>bash ./script.sh $vpn_to_toggle</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Toggle VPN</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B987AA6B-A26D-4013-B334-16E59618C844</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>SET_VPN</string>
						<key>outputlabel</key>
						<string>Set VPN</string>
						<key>uid</key>
						<string>689655F5-1BA4-4E24-BBAD-71A42389D7C4</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Toggle VPN</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1A6485F9-A394-427A-9FEF-ED5C3CFD9A75</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
	set VPN to (system attribute "vpn_to_toggle")	tell application "Tunnelblick"		set status to get state of first configuration where name = VPN		if (status = "CONNECTED") then			disconnect VPN		else			connect VPN		end if	end tellend run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DDFCBEA3-2828-4E6C-90EC-E3783EB85384</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Set the `vpn_to_toggle` to the VPN you want to toggle. If you want to manage more than one VPN I recommend Alfred VPN Manager https://github.com/deanishe/alfred-vpn-manager</string>
	<key>uidata</key>
	<dict>
		<key>15C197CC-CE78-4900-90B4-6C571A97AB2A</key>
		<dict>
			<key>xpos</key>
			<real>870</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>1A6485F9-A394-427A-9FEF-ED5C3CFD9A75</key>
		<dict>
			<key>xpos</key>
			<real>385</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>8F0C4A39-EA77-41F6-81BD-77C7E448FFF8</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>9CF84829-128B-4A20-A564-8114C67FAD38</key>
		<dict>
			<key>xpos</key>
			<real>1060</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>B987AA6B-A26D-4013-B334-16E59618C844</key>
		<dict>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>D65F74E8-59B5-4BA6-BDF0-590992684F3E</key>
		<dict>
			<key>xpos</key>
			<real>665</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>DDFCBEA3-2828-4E6C-90EC-E3783EB85384</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Name of your VPN</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>vpn_to_toggle</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://rknight.me</string>
</dict>
</plist>
