<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rknightuk.trackerzapper</string>
	<key>connections</key>
	<dict>
		<key>2234E7D2-F810-4DB0-88B6-A21200C0755F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F84F1E3E-892E-4D28-8C93-53AE52DB3BA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A4E4997D-8A83-4F9E-A66A-52DDB7ED77A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2234E7D2-F810-4DB0-88B6-A21200C0755F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F84F1E3E-892E-4D28-8C93-53AE52DB3BA6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E89D7F1C-1999-45C7-880C-3C2BACE19DDD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robb Knight</string>
	<key>description</key>
	<string>Removes tracking parameters from links</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TrackerZapper</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>tz</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Remove tracking parameters from input (or clipboard)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A4E4997D-8A83-4F9E-A66A-52DDB7ED77A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript ./process.js "$clipboard" "$input"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F84F1E3E-892E-4D28-8C93-53AE52DB3BA6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E89D7F1C-1999-45C7-880C-3C2BACE19DDD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>clipboard</key>
					<string>{clipboard}</string>
					<key>input</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2234E7D2-F810-4DB0-88B6-A21200C0755F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>I made a Mac app to do this automatically: https://rknight.me/apps/tracker-zapper/</string>
	<key>uidata</key>
	<dict>
		<key>2234E7D2-F810-4DB0-88B6-A21200C0755F</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>A4E4997D-8A83-4F9E-A66A-52DDB7ED77A8</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>E89D7F1C-1999-45C7-880C-3C2BACE19DDD</key>
		<dict>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>F84F1E3E-892E-4D28-8C93-53AE52DB3BA6</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://rknight.me</string>
</dict>
</plist>
