<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rknightuk.jump-list</string>
	<key>connections</key>
	<dict>
		<key>1639C989-56E5-4F39-8742-BDADEDC0EA78</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E10AA766-23FE-444B-99E2-64482C575975</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E10AA766-23FE-444B-99E2-64482C575975</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F84E267-6248-407A-A946-87DA2BD11B3F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>48E706AD-4487-4EE3-9EA4-A5629F808235</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A2A19694-0EFC-4FF5-901A-2919F2BD17C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robb Knight</string>
	<key>description</key>
	<string>ZSH Jump list plugin in Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Jump List</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{var:path}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinterminal</string>
			<key>uid</key>
			<string>6F84E267-6248-407A-A946-87DA2BD11B3F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>j</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading jumps...</string>
				<key>script</key>
				<string>osascript ./script.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>script.sh</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Jump List</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1639C989-56E5-4F39-8742-BDADEDC0EA78</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>terminal</string>
						<key>outputlabel</key>
						<string>Open in Terminal</string>
						<key>uid</key>
						<string>48E706AD-4487-4EE3-9EA4-A5629F808235</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Open in Finder</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E10AA766-23FE-444B-99E2-64482C575975</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open $path</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A2A19694-0EFC-4FF5-901A-2919F2BD17C5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Reads marks from ZSH jump plugin https://github.com/ohmyzsh/ohmyzsh/blob/master/plugins/jump/jump.plugin.zsh and opens them in Finder</string>
	<key>uidata</key>
	<dict>
		<key>1639C989-56E5-4F39-8742-BDADEDC0EA78</key>
		<dict>
			<key>xpos</key>
			<integer>140</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>6F84E267-6248-407A-A946-87DA2BD11B3F</key>
		<dict>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>A2A19694-0EFC-4FF5-901A-2919F2BD17C5</key>
		<dict>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>E10AA766-23FE-444B-99E2-64482C575975</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://rknight.me</string>
</dict>
</plist>
