<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rknightuk.toggle-wifi</string>
	<key>connections</key>
	<dict>
		<key>96B21379-D0C5-413F-BBC0-568CE5633B32</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>338382C1-AC3C-44F2-8E6A-2A948A48446A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robb Knight</string>
	<key>description</key>
	<string>Toggle Wifi on/off</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Toggle Wifi</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>wifi</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle Wifi</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>96B21379-D0C5-413F-BBC0-568CE5633B32</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	set network to (do shell script "networksetup -listallhardwareports | grep -A 1 Wi-Fi | tail -n 1 | cut -b 9-12")
	if (offset of "On" in (do shell script "networksetup -getairportpower " &amp; network &amp; " ")) &gt; 0 then
		do shell script "networksetup -setairportpower " &amp; network &amp; " off"
	else
		do shell script "networksetup -setairportpower " &amp; network &amp; " on"
	end if
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>338382C1-AC3C-44F2-8E6A-2A948A48446A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Toggles wifi on or off.</string>
	<key>uidata</key>
	<dict>
		<key>338382C1-AC3C-44F2-8E6A-2A948A48446A</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>96B21379-D0C5-413F-BBC0-568CE5633B32</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://rknight.me</string>
</dict>
</plist>
