<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rknightuk.computer-mode</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>4962FF00-9F66-4837-8065-F2DF5ED59637</key>
		<array/>
		<key>C0599899-ADDA-4673-96A5-3A353EF86396</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA485DB9-5D5D-4C39-B037-F0F78AF590A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E84ADC83-6CF0-4C52-B5B0-A8B8D1082CC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB626E74-E1D6-4C27-BBA3-287F6FC72990</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EAF0264A-4687-45D6-A90A-1B155FC90304</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4962FF00-9F66-4837-8065-F2DF5ED59637</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robb Knight</string>
	<key>description</key>
	<string>Open apps for different scenarios</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>App Mode</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Gitify.app</string>
					<string>/Applications/Safari.app</string>
					<string>/Applications/Google Chrome.app</string>
					<string>/Applications/PhpStorm.app</string>
					<string>/Applications/Slack.app</string>
					<string>/Applications/iTerm.app</string>
					<string>/Applications/Tweetbot.app</string>
					<string>/System/Applications/Mail.app</string>
					<string>/System/Applications/Music.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>BA485DB9-5D5D-4C39-B037-F0F78AF590A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mode work</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Work Apps</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C0599899-ADDA-4673-96A5-3A353EF86396</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Safari.app</string>
					<string>/Applications/Tweetbot.app</string>
					<string>/System/Applications/Mail.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>4962FF00-9F66-4837-8065-F2DF5ED59637</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mode home</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Home Apps</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EAF0264A-4687-45D6-A90A-1B155FC90304</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Safari.app</string>
					<string>/Applications/Skype.app</string>
					<string>/Applications/Audio Hijack.app</string>
					<string>/Applications/Notes.app</string>
					<string>~/Dropbox/Ruminate Podcast/shownotes.md</string>
					<string>/System/Applications/Mail.app</string>
					<string>/Applications/Mute Me.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>EB626E74-E1D6-4C27-BBA3-287F6FC72990</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mode podcast</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Podcast Apps</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E84ADC83-6CF0-4C52-B5B0-A8B8D1082CC1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Open different folders based on what I'm doing.</string>
	<key>uidata</key>
	<dict>
		<key>4962FF00-9F66-4837-8065-F2DF5ED59637</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>BA485DB9-5D5D-4C39-B037-F0F78AF590A3</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>C0599899-ADDA-4673-96A5-3A353EF86396</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>E84ADC83-6CF0-4C52-B5B0-A8B8D1082CC1</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>EAF0264A-4687-45D6-A90A-1B155FC90304</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>EB626E74-E1D6-4C27-BBA3-287F6FC72990</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://rknight.me</string>
</dict>
</plist>
