<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>api_key</key>
	<string>5a92f46079fcb3fb0de110f4ecd71d3f</string>
	<key>username</key>
	<string>robb</string>
</dict>
</plist>
