<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rknightuk.workflow-dev</string>
	<key>connections</key>
	<dict>
		<key>04801D60-CEEB-4150-AD17-1A3A800D7AC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>762E996C-0D2F-4B03-B3E1-0773A8584F08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>762E996C-0D2F-4B03-B3E1-0773A8584F08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C26A6678-574C-45E6-A9F6-4AD9C8FDBE69</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E7E8524A-0394-4223-AD6E-931EE429F96E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>535C61EA-1BD5-4DA4-9386-0150DD370322</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1DD76FEC-BABC-411A-8049-D9CC669B6AC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7E8524A-0394-4223-AD6E-931EE429F96E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C26A6678-574C-45E6-A9F6-4AD9C8FDBE69</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1DD76FEC-BABC-411A-8049-D9CC669B6AC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robb Knight</string>
	<key>description</key>
	<string>Open a workflows files in Sublime Text</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Workflow Dev</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Sublime Text.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>C26A6678-574C-45E6-A9F6-4AD9C8FDBE69</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>BACKUP</string>
				<key>replacestring</key>
				<string>/Users/robb/Sites/personal/alfred-workflows</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>E7E8524A-0394-4223-AD6E-931EE429F96E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>wwf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Workflows List...</string>
				<key>script</key>
				<string>osascript ./script.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Edit Workflows in Sublime</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>04801D60-CEEB-4150-AD17-1A3A800D7AC7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>BACKUP</string>
						<key>outputlabel</key>
						<string>Backup Edit</string>
						<key>uid</key>
						<string>535C61EA-1BD5-4DA4-9386-0150DD370322</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Workflow Edit</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>762E996C-0D2F-4B03-B3E1-0773A8584F08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinterminal</string>
			<key>uid</key>
			<string>1DD76FEC-BABC-411A-8049-D9CC669B6AC3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>04801D60-CEEB-4150-AD17-1A3A800D7AC7</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>1DD76FEC-BABC-411A-8049-D9CC669B6AC3</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>762E996C-0D2F-4B03-B3E1-0773A8584F08</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>C26A6678-574C-45E6-A9F6-4AD9C8FDBE69</key>
		<dict>
			<key>note</key>
			<string>Change the app in this step to change which application the directory opens in</string>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>E7E8524A-0394-4223-AD6E-931EE429F96E</key>
		<dict>
			<key>xpos</key>
			<integer>385</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://rknight.me</string>
</dict>
</plist>
