<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rknightuk.workflow-dev</string>
	<key>connections</key>
	<dict>
		<key>3B42091E-9FAF-4159-AFF7-DA9F53833493</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9AE53669-7AE1-4A35-B34B-0EF4C5F36D68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>78C7620E-AD05-4B4E-ABE3-6823D25C40FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85234FC5-DA55-448B-BFBE-33C25C140899</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85234FC5-DA55-448B-BFBE-33C25C140899</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C26A6678-574C-45E6-A9F6-4AD9C8FDBE69</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>24178836-737C-4143-9A60-A9F2EF1DE9EA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C26A6678-574C-45E6-A9F6-4AD9C8FDBE69</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F8808E5B-AED9-4BDD-9B79-1582D0BBAD8B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A2001822-28E1-436D-BED2-CEE81F4E1C62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5039D06D-AB98-42BF-80C8-8383C615E69E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A2001822-28E1-436D-BED2-CEE81F4E1C62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F8808E5B-AED9-4BDD-9B79-1582D0BBAD8B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1DD76FEC-BABC-411A-8049-D9CC669B6AC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>57E8E990-8D5C-4906-A71B-BCB1EBCBBED2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1DD76FEC-BABC-411A-8049-D9CC669B6AC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F8808E5B-AED9-4BDD-9B79-1582D0BBAD8B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9AE53669-7AE1-4A35-B34B-0EF4C5F36D68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78C7620E-AD05-4B4E-ABE3-6823D25C40FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robb Knight</string>
	<key>description</key>
	<string>Open a workflow's files in Sublime Text, Finder, or Terminal</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Workflow Development</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Sublime Text.app</string>
				<key>sourcefile</key>
				<string>{var:path}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>C26A6678-574C-45E6-A9F6-4AD9C8FDBE69</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "$path"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A2001822-28E1-436D-BED2-CEE81F4E1C62</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>editor</string>
						<key>outputlabel</key>
						<string>Sublime</string>
						<key>uid</key>
						<string>24178836-737C-4143-9A60-A9F2EF1DE9EA</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>finder</string>
						<key>outputlabel</key>
						<string>Finder</string>
						<key>uid</key>
						<string>5039D06D-AB98-42BF-80C8-8383C615E69E</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>terminal</string>
						<key>outputlabel</key>
						<string>Terminal</string>
						<key>uid</key>
						<string>57E8E990-8D5C-4906-A71B-BCB1EBCBBED2</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>all</string>
						<key>outputlabel</key>
						<string>All</string>
						<key>uid</key>
						<string>F8808E5B-AED9-4BDD-9B79-1582D0BBAD8B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>?</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>85234FC5-DA55-448B-BFBE-33C25C140899</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>wf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Workflows List...</string>
				<key>script</key>
				<string>osascript ./script.js "$alfred_preferences"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Edit Workflows in Sublime</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3B42091E-9FAF-4159-AFF7-DA9F53833493</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>osascript ./options.js "$name"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>78C7620E-AD05-4B4E-ABE3-6823D25C40FF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9AE53669-7AE1-4A35-B34B-0EF4C5F36D68</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{var:path}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinterminal</string>
			<key>uid</key>
			<string>1DD76FEC-BABC-411A-8049-D9CC669B6AC3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1DD76FEC-BABC-411A-8049-D9CC669B6AC3</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>3B42091E-9FAF-4159-AFF7-DA9F53833493</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>78C7620E-AD05-4B4E-ABE3-6823D25C40FF</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>85234FC5-DA55-448B-BFBE-33C25C140899</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>9AE53669-7AE1-4A35-B34B-0EF4C5F36D68</key>
		<dict>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>A2001822-28E1-436D-BED2-CEE81F4E1C62</key>
		<dict>
			<key>note</key>
			<string>Open in Finder</string>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>C26A6678-574C-45E6-A9F6-4AD9C8FDBE69</key>
		<dict>
			<key>note</key>
			<string>Default editor is Sublime. Change the app to open in something else</string>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string>https://rknight.me</string>
</dict>
</plist>
