<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rknightuk.audio-device-selector</string>
	<key>connections</key>
	<dict>
		<key>0F1AACFB-CD43-4429-95F8-B878FCF79437</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7710F67B-9E76-4D90-85F5-463BC7026D9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>24F5C378-A4BC-4F55-826D-97DD49943802</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4093A476-3C46-4E17-9C38-9C98AFBDBA75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4093A476-3C46-4E17-9C38-9C98AFBDBA75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F1AACFB-CD43-4429-95F8-B878FCF79437</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CF3E4FB-5D16-4A16-B03F-1466C6FD769B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24F5C378-A4BC-4F55-826D-97DD49943802</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D02FF20-348C-47F1-A53C-68806DD91144</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>855FAFCC-9089-4CC5-A851-354CE2024FAD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>855FAFCC-9089-4CC5-A851-354CE2024FAD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4093A476-3C46-4E17-9C38-9C98AFBDBA75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robb Knight</string>
	<key>description</key>
	<string>Select and switch audio devices</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Audio Device Selector</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ads in</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading input devices...</string>
				<key>script</key>
				<string>osascript ./script.js input</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Switch Input</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4D02FF20-348C-47F1-A53C-68806DD91144</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>device_type</key>
					<string>Input</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>855FAFCC-9089-4CC5-A851-354CE2024FAD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>{var:device_type} changed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7710F67B-9E76-4D90-85F5-463BC7026D9E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>eval "/usr/local/bin/SwitchAudioSource $1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4093A476-3C46-4E17-9C38-9C98AFBDBA75</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
	var query = argv[0];
	return query
		.replace('output audio device set to', '')
		.replace('input audio device set to', '')
		.replaceAll('"', '')
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0F1AACFB-CD43-4429-95F8-B878FCF79437</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ads out</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading output devices...</string>
				<key>script</key>
				<string>osascript ./script.js output</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Switch Output</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4CF3E4FB-5D16-4A16-B03F-1466C6FD769B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>device_type</key>
					<string>Output</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>24F5C378-A4BC-4F55-826D-97DD49943802</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow requires switchaudio-osx which you can install with brew:

`$ brew install switchaudio-osx`

Set exec path to the location of your install of switchaudio-osx.</string>
	<key>uidata</key>
	<dict>
		<key>0F1AACFB-CD43-4429-95F8-B878FCF79437</key>
		<dict>
			<key>note</key>
			<string>Get device name</string>
			<key>xpos</key>
			<integer>625</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>24F5C378-A4BC-4F55-826D-97DD49943802</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>4093A476-3C46-4E17-9C38-9C98AFBDBA75</key>
		<dict>
			<key>note</key>
			<string>Switch source</string>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>4CF3E4FB-5D16-4A16-B03F-1466C6FD769B</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>4D02FF20-348C-47F1-A53C-68806DD91144</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>7710F67B-9E76-4D90-85F5-463BC7026D9E</key>
		<dict>
			<key>xpos</key>
			<integer>815</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>855FAFCC-9089-4CC5-A851-354CE2024FAD</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>exec_path</key>
		<string>/usr/local/bin</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://rknight.me</string>
</dict>
</plist>
