<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rknightuk.toggle-audio</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1032EF40-0AD4-41A5-9E72-53F06EE2353B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B7B071E-EA89-4691-BBD5-2F3CE5A04ED7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>12163F3F-8B14-4511-B8D0-90E9F09F2CE6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D507246E-53CA-48AE-BEA3-51378D79DC65</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>47108A24-09F6-4655-AAD8-72369FFF5444</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1032EF40-0AD4-41A5-9E72-53F06EE2353B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68039AC6-2BAB-44EB-8EB2-B9F240711ABF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12163F3F-8B14-4511-B8D0-90E9F09F2CE6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B7B071E-EA89-4691-BBD5-2F3CE5A04ED7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68039AC6-2BAB-44EB-8EB2-B9F240711ABF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E6682AF-ED81-4B17-9D46-68A5A5031EDF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47108A24-09F6-4655-AAD8-72369FFF5444</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D507246E-53CA-48AE-BEA3-51378D79DC65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95B95ADC-4D3B-4E7A-87F0-6FEAC70922EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C340D6A3-AE89-4A90-A9B1-15E7BC380184</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robb Knight</string>
	<key>description</key>
	<string>Switch audio output between MBP and Monitor</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Toggle Audio Output</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Switched to{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>95B95ADC-4D3B-4E7A-87F0-6FEAC70922EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>bash ./script.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>47108A24-09F6-4655-AAD8-72369FFF5444</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>80</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F19</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8E6682AF-ED81-4B17-9D46-68A5A5031EDF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^could not find</string>
						<key>outputlabel</key>
						<string>Not Connected</string>
						<key>uid</key>
						<string>D0FE4483-8A5D-45CB-8CB3-AB5B0F3D4002</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Connected</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1032EF40-0AD4-41A5-9E72-53F06EE2353B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>DELL U2419H</string>
				<key>replacestring</key>
				<string>Monitor</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>D507246E-53CA-48AE-BEA3-51378D79DC65</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>MacBook Pro Speakers</string>
				<key>replacestring</key>
				<string>Vision</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>12163F3F-8B14-4511-B8D0-90E9F09F2CE6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>"</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>68039AC6-2BAB-44EB-8EB2-B9F240711ABF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>output audio device set to</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>8B7B071E-EA89-4691-BBD5-2F3CE5A04ED7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Funk</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>C340D6A3-AE89-4A90-A9B1-15E7BC380184</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This does a couple of things:

- Pauses Apple Music if I'm using my monitor as the audio output
- Switches to my Macbook as the audio output
- Sets the volumne on the Macbook to high
- In reverse, it puts the volume back down then switches back to the monitor</string>
	<key>uidata</key>
	<dict>
		<key>1032EF40-0AD4-41A5-9E72-53F06EE2353B</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>12163F3F-8B14-4511-B8D0-90E9F09F2CE6</key>
		<dict>
			<key>xpos</key>
			<integer>665</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>47108A24-09F6-4655-AAD8-72369FFF5444</key>
		<dict>
			<key>xpos</key>
			<integer>195</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>68039AC6-2BAB-44EB-8EB2-B9F240711ABF</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>8B7B071E-EA89-4691-BBD5-2F3CE5A04ED7</key>
		<dict>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>8E6682AF-ED81-4B17-9D46-68A5A5031EDF</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>95B95ADC-4D3B-4E7A-87F0-6FEAC70922EA</key>
		<dict>
			<key>xpos</key>
			<integer>815</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>C340D6A3-AE89-4A90-A9B1-15E7BC380184</key>
		<dict>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>D507246E-53CA-48AE-BEA3-51378D79DC65</key>
		<dict>
			<key>xpos</key>
			<integer>735</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://rknight.me</string>
</dict>
</plist>
