<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rknightuk.new-file-in-finder</string>
	<key>connections</key>
	<dict>
		<key>63E06D6D-B609-4D6A-B747-5B5FE57D5898</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F752757E-E036-4744-B2F2-CB0D5CC9F9ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85FAF15A-A126-43CE-A754-8ECECE812361</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C96F2B6B-E5C3-41A4-A864-8C3A6C56465A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C96F2B6B-E5C3-41A4-A864-8C3A6C56465A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63E06D6D-B609-4D6A-B747-5B5FE57D5898</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F752757E-E036-4744-B2F2-CB0D5CC9F9ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA5E9C00-5CFE-42C3-9C11-51B92B5B6C48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robb Knight</string>
	<key>description</key>
	<string>Create a new file in the current Finder window</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>New File in Finder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>fnew</string>
				<key>subtext</key>
				<string>e.g. index.md</string>
				<key>text</key>
				<string>Create new file</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>85FAF15A-A126-43CE-A754-8ECECE812361</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BA5E9C00-5CFE-42C3-9C11-51B92B5B6C48</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "Finder"
		set pathList to (POSIX path of (folder of the front window as alias))
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>63E06D6D-B609-4D6A-B747-5B5FE57D5898</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>bash ./script.sh $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F752757E-E036-4744-B2F2-CB0D5CC9F9ED</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>new_file</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C96F2B6B-E5C3-41A4-A864-8C3A6C56465A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>63E06D6D-B609-4D6A-B747-5B5FE57D5898</key>
		<dict>
			<key>note</key>
			<string>Get Finder path</string>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>85FAF15A-A126-43CE-A754-8ECECE812361</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>BA5E9C00-5CFE-42C3-9C11-51B92B5B6C48</key>
		<dict>
			<key>xpos</key>
			<integer>840</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>C96F2B6B-E5C3-41A4-A864-8C3A6C56465A</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>F752757E-E036-4744-B2F2-CB0D5CC9F9ED</key>
		<dict>
			<key>xpos</key>
			<integer>615</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://rknight.me</string>
</dict>
</plist>
